<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
       <br>
      
          <img  id="myImage" src="assets/icon/logoPasajero.png" style=" margin-left: auto;margin-right: auto;display: block;width:100px;height:100px;">
					
          <p style="text-align: center;">Conductor</p>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
           
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item (click)="mensajePasajero()" routerDirection="root" lines="none" detail="false" >
              <ion-icon slot="start" [ios]=" 'mail-outline'" [md]="'mail-sharp'"></ion-icon>
              <ion-label>Mensaje Pasajero</ion-label>
            </ion-item>
            <ion-item href="https://api.whatsapp.com/send?phone=573106663636&text=Mensaje conductor:  " routerDirection="root" lines="none" detail="false" >
              <ion-icon slot="start" [ios]=" 'mail-outline'" [md]="'mail-sharp'"></ion-icon>
              <ion-label>Centro de Soporte</ion-label>
            </ion-item>
            <ion-item (click)="mensajePasajero()" routerDirection="root" lines="none" detail="false" >
              <ion-icon slot="start" [ios]=" 'call-outline'" [md]="'call-sharp'"></ion-icon>
              <ion-label>Llamar Pasajero</ion-label>
            </ion-item>
            <ion-item (click)="mensajePasajero()" routerDirection="root" lines="none" detail="false" >
              <ion-icon slot="start" [ios]=" 'archive-outline'" [md]="'archive-sharp'"></ion-icon>
              <ion-label>Datos Direccion</ion-label>
            </ion-item>
            <ion-item (click)="formaTrabajo()" routerDirection="root" lines="none" detail="false" >
              <ion-icon slot="start" [ios]=" 'build-outline'" [md]="'build-sharp'"></ion-icon>
              <ion-label>Forma de Trabajo</ion-label>
            </ion-item>
            <ion-item (click)="historial()" routerDirection="root" lines="none" detail="false" >
              <ion-icon slot="start" [ios]=" 'paper-plane-outline'" [md]="'paper-plane-sharp'"></ion-icon>
              <ion-label>Historial</ion-label>
            </ion-item>
            <ion-item (click)="historial()" routerDirection="root" lines="none" detail="false" >
              <ion-icon slot="start" [ios]=" 'open-outline'" [md]="'open-sharp'"></ion-icon>
              <ion-label>Salir</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>.</ion-list-header>

         
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" >
      <ion-header [translucent]="true">
        <ion-toolbar >
          <ion-buttons slot="start" color="dark">
            <ion-menu-button color="dark"></ion-menu-button>
          </ion-buttons>
          <ion-title class="ion-text-center" style="
    font-weight: bold;">{{ folder }}</ion-title>
  
    <ion-buttons slot="end">
      <ion-toggle slot="start" name="kiwi" color="success" checked style="display: inline-block;" (ionChange)="status($event)"></ion-toggle>
  
    </ion-buttons>

    
        </ion-toolbar>
      </ion-header>
      
      <ion-content [fullscreen]="true">
        <ion-header collapse="condense">
          <ion-toolbar>
            <ion-title size="large">{{ folder }}</ion-title>
          </ion-toolbar>
        </ion-header>
      
          <div id="map" > 

          </div>
       
      </ion-content>


    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
