
<ion-header translucent>
  <ion-toolbar>
    <ion-title style="text-align: center;font-weight: bold;">Historial</ion-title>
    <ion-buttons slot="end">
      <ion-button >Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
  <div id="map"></div>
  <ion-card>
    <ion-card-header>
    
      <ion-card-subtitle>Destino: ####</ion-card-subtitle>
      <ion-card-subtitle>Origen: ####</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Pasajero:###</p>
      <p>Pago:###</p>
      <p>Valor:###</p>
      <p>Destino:####</p>
      <p>Vale:####</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Destino: ####</ion-card-subtitle>
      <ion-card-subtitle>Origen: ####</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Pasajero:###</p>
      <p>Pago:###</p>
      <p>Valor:###</p>
      <p>Destino:####</p>
      <p>Vale:####</p>
    </ion-card-content>
  </ion-card>

    
</ion-content>